################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HiraethEngine3/.vs/HiraethEngine3/v16
